
.boards-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.boards-header {
  font-size: 40px;
  padding-bottom: 5px;
} 

.board-list {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
