.appContainer {
  /* display:flex MUST be initialized before use! */
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  box-sizing: content-box;
  border: solid 50px;
  background: #000000;
  border-image: linear-gradient(, white, grey) 1;
  
  }



/* p,
li {
    font: 1rem 'Verdana',; 
}

p {
    font-weight: bold;
}

ul {
  background: #4c2c92;

} */